body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 70px 1fr 50px;
    height: 100vh;
}
.sidebar{
    grid-row: 1 / 4;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}
.header{
    grid-column: 2;
    background-color: #444;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}
.content{
    grid-column: 2;
    background: #f4f4f4;
    padding: 20px;
}
.footer{
    grid-column: 2;
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}