body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
    text-align: center;
    padding: 20px;
    background-color: #35424a;
    color: white;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}
.card{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
.card img{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.card-image img{
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
}
.card-image img:hover{
    transform: scale(1.1);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.card-image:hover .overlay{
    opacity: 1;
}
.overlay-text{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.overlay button{
    padding: 10px 20px;
    border: none;
    background-color: #e8491d;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.card-content{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-content h2{
    margin: 0 0 10px ;
    color: #333;
}
.card-content p{
    margin: 0;
    color: #666;
    font-size: 14px;
}
@media (max-width: 600px){
    .gallery{
        grid-template-columns: 1fr;
    }
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #35424a;
    color: white;
}